Django==2.2.24
-e git://github.com/multmeio/django-hstore.git#egg=django-hstore
-e git://github.com/multmeio/django-hstore-flattenfields.git#egg=django-hstore-flattenfields
django-orm-extensions==3.0b3
psycopg2==2.5
wsgiref==0.1.2
